#soutien {
	padding-left:15%;
	min-height:100%;
	width:60%;
}

#soutien img{
	width:auto;
	max-height: 100%;
	margin-right:5%;
}

#txtSoutien {
	height:40%;
	display:flex;
	flex-direction: row;
}

#formulaire {
	max-width: 60%;
}


#txtSoutien p {
	overflow:auto;
}

h1 {
	color: rgb(183,0,0);
	font-size:250%;
	text-transform:uppercase;
	text-align:center;
}

section {
	overflow: hidden;
}